.container{
	width:inherit;
	height:auto;
	overflow-x:hidden;
	/*explain overflow*/
}
#noPadding{
	padding-left:0px;
	padding-right:0px;
	margin-right:0px;
	margin-left:0px;
}
.profile{
	margin-top:70px;
	width:100%;
	height:auto;
	/*explain more about how to make normal image become circle*/
}
.name{
	margin-top:130px;
}
.fullPic{
	margin-top:100px;
}
.infoContainer{
	margin-top:180px;
	width:700px;
	height:auto;
}
.txt{
	margin-top:200px; 
	text-align:center;
	font-size: 30px;
}
.picContainer{
	margin-top:100px;
	width:300px;
	height:200px;
	background-color:red;
	border-radius:15px;
	/*explain about border radius*/
	/*explain about color, can be code # bla bla */
}
.squareBullet{
	list-style-type:square;
	/*can be picture*/
}